<!DOCTYPE html>
<html lang="en">
<%-include('../partial/head')%>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%-include('../partial/left-menu')%>
        <!-- top navigation -->
        <%-include('../partial/navbar')%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 912px;">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Complaint Detail</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6 col-sm-6  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Daily active users <small>Sessions</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="bs-example" data-example-id="simple-jumbotron">
                                <div class="jumbotron">
                                    <h1><%= data.detailComplaints.regarding%></h1>
                                    <p><strong><i class="fa fa-user"></i> :</strong> <%=data.detailComplaints.name%></p>
                                    <p><strong><i class="fa fa-building"></i> :</strong> <%=data.detailComplaints.company%></p>
                                    <p><strong><i class="fa fa-envelope"></i> :</strong> <%=data.detailComplaints.email%></p>
                                    <p><strong><i class="fa fa-calendar"></i> :</strong> <%=data.detailComplaints.date%></p>
                                    <h2><%= data.detailComplaints.nature%></h2>
                                    <p><%= data.detailComplaints.content%></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%-include('../partial/footer')%>
        <!-- /footer content -->
    </div>
</div>

<%-include('../partial/script')%>
</body>
</html>
